.CustomButtons_menu_option{
    border-radius: 19px;
    width: 318px;
    height: 87px;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    color: #131313;
    font-family: 'Gotham Pro';
    cursor: pointer;
    transition: 0.5s;
}
.CustomButtons_menu_option_active{
    border-radius: 19px;
    width: 318px;
    height: 87px;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    color: #131313;
    font-family: 'Gotham Pro';
    cursor: pointer;
    margin-top: 50px;
    z-index: 2;
    transition: 0.5s;
}
@media screen and (max-width: 1280px) {
    .CustomButtons_menu_option, .CustomButtons_menu_option_active{
        width: 254px;
        height: 69px;
        font-size: 32px;
    }
    .CustomButtons_menu_option_active{
        margin-top: 35px;
    }
}
@media screen and (max-width: 1024px) {
    .CustomButtons_menu_option, .CustomButtons_menu_option_active{
        width: 227px;
        height: 62px;
        font-size: 28px;
    }
    .CustomButtons_menu_option_active{
        margin-top: 35px;
    }
}
@media screen and (max-width: 768px) {
    .CustomButtons_menu_option, .CustomButtons_menu_option_active{
        width: 170px;
        height: 46px;
        font-size: 24px;
    }
    .CustomButtons_menu_option_active{
        margin-top: 35px;
    }
}