.advancedBlockAlternative_body{
    display: flex;
    background-color: #fff;
    border-radius: 19px;
    gap: 12px;
    width: 512px;
    justify-content: center;
}
.AdvancedBlockAlternative_circle {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.AdvancedBlockAlternative_circle>div {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
}
.AdvancedBlockAlternative_circle_outer {
    transition: 3s;
    background-color: #4db1f8;
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 50% 0, 50% 50%, 50% 50%);
    animation: activateCicle 3s linear infinite;
}
.AdvancedBlockAlternative_circle_inner_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}
.AdvancedBlockAlternative_circle_inner {
    transform: scale(0.95);
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AdvancedBlockAlternative_circle_inner_content_text{
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Gotham Pro';
    color: #000;
}
.advancedBlockAlternative_body_wrapper_for_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AdvancedBlockAlternative_body_wrapper_text{
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Gotham Pro';
    color: #000;
    max-width: 182px;
}
@keyframes activateCicle {
    82.5% {
        filter: brightness(1.5);
      clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 0, 0 0, 50% 50%, 50% 50%);
    }
    75% {
      clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 50%, 0 50%, 50% 50%, 50% 50%);
    }
    62.5% {
      clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0 100%, 0 100%, 0 100%, 0 100%, 50% 50%, 50% 50%);
    }
    50% {
      clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 50%, 50% 50%);
    }
    37.5% {
      clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 50%, 50% 50%);
    }
    25% {
      clip-path: polygon(50% 0%, 100% 0, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%, 50% 50%);
    }
    12.5% {
      clip-path: polygon(50% 0%, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 100% 0, 50% 50%, 50% 50%);
    }
    0% {
      clip-path: polygon(50% 0%, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 0, 50% 50%, 50% 50%);
    }
}
@media screen and (max-width:1280px){
  .advancedBlockAlternative_body{
      width: 408px;
      gap: 12px;
  }
  .AdvancedBlockAlternative_circle_inner_content_text, .AdvancedBlockAlternative_body_wrapper_text{
    font-size: 28px;
    text-align: center;
  }
  .AdvancedBlockAlternative_circle{
    width: 208px;
    height: 208px;
  }
}
@media screen and (max-width:1024px){
  .advancedBlockAlternative_body{
    width: 364px;
      gap: 10px;
  }
  .AdvancedBlockAlternative_circle_inner_content_text, .AdvancedBlockAlternative_body_wrapper_text{
    font-size: 24px;
    text-align: center;
  }
  .AdvancedBlockAlternative_circle{
    width: 186px;
    height: 186px;
  }
}
@media screen and (max-width:1024px){
    .advancedBlockAlternative_body{
      width: 346px;
  }
  .AdvancedBlockAlternative_circle{
    width: 177px;
    height: 177px;
  }
  .AdvancedBlockAlternative_circle_inner_content_text, .AdvancedBlockAlternative_body_wrapper_text{
    font-size: 22px;
  }
}
@media screen and (max-width:500px){
  .advancedBlockAlternative_body{
    width: 220px;
}
.AdvancedBlockAlternative_circle{
  width: 83px;
  height: 83px;
}
.AdvancedBlockAlternative_circle_inner_content_text, .AdvancedBlockAlternative_body_wrapper_text{
  font-size: 14px;
  max-width: 120px;
}
}