.advancedBlock_body{
    display: flex;
    background-color: #ececec;
    border-radius: 19px;
    gap: 12px;
}
.advancedBlock_body_wrapper_column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.advancedBlock_body_wrapper_column_text{
    font-weight: 400;
    font-size: 36px;
    color: #000;
}
.advancedBlock_body_wrapper_column_progress {
    width: 379px;
    height: 49px;
    border-radius: 65px;
    background-color: #D9D9D9;
}
.advancedBlock_body_wrapper_column_progress_filled{
    height: 49px;
    border-radius: 65px;
    background-color: #45B2FF;
    cursor: pointer;
}
:root{
    --t1: all 0.5s ease 0s
}
.advancedBlock_body_wrapper_column_progress .advancedBlock_body_wrapper_column_progress_filled:hover{
    filter: brightness(1.2);
    transition: var(--t1);
    animation: start 1s ease 0s 2 alternate;
}
.advancedBlock_body_wrapper_column_progress .advancedBlock_body_wrapper_column_progress_filled::before{
    content: '';
    width: 0;
    transition: width 1s ease;
}
.advancedBlock_body_wrapper_column_progress .advancedBlock_body_wrapper_column_progress_filled:hover::before{
    width: 100%;
}