.Content{
    display: flex;
    height: auto;
    width: 100%;
    max-width: 1440px;
    flex-direction: column;
    gap: 100px;
    justify-content: space-between;
}
.Content_menu_wrapper{
    position: absolute;
    display: flex;
    justify-content: space-around;
    gap: 34px;
    margin-left: 37px;
}
.Content_menu_option{
    border-radius: 19px;
    width: 318px;
    height: 87px;
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    color: #131313;
    font-family: 'Gotham Pro';
}
.Content_menu_body{
    display: flex;
    border-radius: 20px;
    width: 1440px;
    height: 813px;
    background-color: white;
    margin-top: 117px;
}
.Content_menu_option_activeMenu{
    margin-top: -49px;
    display: none;
}
.INactiveMenu{
    margin-top: 0px;
}