.App {
  background-color: black;
}
body{
  background-color: black;
  background-image: url('assets/bg.png');
  background-size: cover;
}
.bg{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.showcase{
  margin-top: 29px;
}
.Content{
  margin-top: 150px;
} 