.Portrait{
    border-radius: 26px;
    width: 436px;
    height: 652px;
    background-color: #aaa9a9;
    margin-top: 73px;
    margin-left: 69px;
    transition: 0.5s;
    object-fit: contain;
}
@media screen and (max-width:1280px){
    .Portrait{
        width: 376px;
        height: 562px;
    }
}
@media screen and (max-width:1024px){
    .Portrait{
        margin-top: 21px;
        margin-left: 0px;
    }
}
@media screen and (max-width:768px){
    .Portrait{
        width: 175px;
        height: 262px;
    }
}
@media screen and (max-width:500px){
    .Portrait{
        width: 353px;
        height: 530px;
    }
}